@model LojaDeEsporte.Presentation.WebApp.Models.ProdutoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        <div id="categorias">
            @{Html.RenderAction("Menu", "Navegacao");}
        </div>
        <p>
            @Html.ActionLink("Create New", "Adicionar")
        </p>
        <p>
            @Html.ActionLink("Finalizar Compra", "Index", "Carrinho")
        </p>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Produtos.FirstOrDefault().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produtos.FirstOrDefault().Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produtos.FirstOrDefault().Categoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produtos.FirstOrDefault().Preco)
                </th>
                <th></th>
            </tr>
    
            @foreach (var item in Model.Produtos) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Detalhes", new { id=item.Id })
                    </td>
                </tr>
            }
        </table>
        <div>
            @Html.PaginasLinks(Model.InformacaoDePaginacao, x => Url.Action("Index", new { pagina = x, categoria = Model.Categoria }))
        </div>
    </body>
</html>